---
name_prefix: "*****change me*****"
zone: "*****change me*****"
region: "*****change me*****"
resource_group_name: ""*****change me*****""
sno_domain_name: "*****change me*****"
sno_cluster_name: "*****change me*****"
setup_vsi_gui: false