{{ fip.address }}	api.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ fip.address }}	oauth-openshift.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ fip.address }}	console-openshift-console.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ fip.address }}	grafana-openshift-monitoring.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ fip.address }}	thanos-querier-openshift-monitoring.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ fip.address }}	prometheus-k8s-openshift-monitoring.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ fip.address }}	alertmanager-main-openshift-monitoring.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ fip.address }}	prometheus-k8s-openshift-monitoring.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ fip.address }}	kvmhost.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ fip.address }}	sno.{{ sno_cluster_name }}.{{ sno_domain_name }}
