# Static DHCP

subnet 192.168.122.0 netmask 255.255.255.0 {
 option routers 192.168.122.1;
 option domain-name-servers 192.168.122.2;
 option domain-name "{{ cluster_domain }}";
 use-host-decl-names on;

 # Static entries
 host sno { hardware ethernet {{ mac_address }};  fixed-address 192.168.122.3; option host-name "sno.{{ cluster_name }}.uste"; }


 # this will not give out addresses to hosts not listed above
 deny unknown-clients;
}
